:root {
    --main-color:rgb(65, 62, 62);
    --secondary-color:aqua;
    --secondary-font: 25px;
    --gap: 30px;
    --num-cols: 2;
    --row-height: 250px;
    --num-rows: 3;

}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--main-color);
    background-color: white;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* Styling for header */
header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
    background-color: var(--main-color);
    justify-content: space-between;
    color: var(--secondary-color);
}

/* Styling for "Jeaustin Sanabria" inside header */
header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--main-color);
    padding: 2px 2px 2px 50px;
    max-height: 100px;
}

/* Styling for navigation bar in header */
header nav {
    display: flex;
    flex-wrap: wrap;
}

/* Styling for ul in the navigation bar */
header nav ul {
    display: flex;
    flex-wrap: wrap;
}

/* Styling for the li in the ul */
header nav ul li {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 2rem;
}

/* Styling for each a that is associated with each li */
header nav ul li a {
    color: var(--secondary-color);
    text-decoration: underline;
    font-weight: bolder;
}

/* Styling for hero element */
.hero {
    height: 35vh;
    width: 100%;
    background-image: url("../images/banner-header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Styling for my profile picture */
.profile-pic {
    height: 13vw;
    width: 13vw;
    border: 4px solid var(--secondary-color);
}

.card-container {
    --gap: 16px;
    --num-cols: 2;
    --row-height: 300px;

    box-sizing: border-box;
    padding: 30px;
    display: grid;
    max-width: 100%;
    max-height: 100%
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.card-container > a {
    width: 100%;
    height:100%;
    object-fit: cover;
}

.horiseon {
    background: url(../images/Module-1-Challenge.png);
    background-size: cover;
    grid-column: span 2;
    grid-row: span 2;
    border: 6px solid var(--secondary-color);
    color: white
}

.bg2 {
    background: url(../images/blue-motherboard.jpg);
    background-size: cover;
    color: white;
    background-color: var(var(--secondary-color));
    border: 4px solid var(--secondary-color);
}

.card-container div > a {
    color: var(--main-color);
    background-color: var(--secondary-color);
    padding: 5px;
    margin-top: 100px;
}

#about-me {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    max-height: max-content;
    width: 100%;
}

#work {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    max-height: max-content;
    width: 100%;
}

#contact-me {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    max-height: max-content;
}

.contact-me-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    list-style-type: none;
}

.label-left {
    border-right: 5px solid var(--secondary-color);
    width: 20vw;
    align-content: center;
    justify-content: flex-end;
    margin-left: 5%;
    padding-left: 50px;
}

.label-right {
    width: 100%;
}

.label-right p {
    margin:20px;
}

/* positioning in grid for horiseon html/css and making image have a relative position */
.large-image {
    grid-column: span 2;
    grid-row: span 1;
    object-fit: cover;
    position: relative;
}

/* applying an absolute position to the figcaption of large image with styling */
.large-image figcaption {
    position: absolute;
    top: 50%;
    color: var(--main-color);
    background-color: var(--secondary-color);
    border: 4px solid var(--secondary-color);
}

/* relative positioning for .gallery-image */
.gallery-image {
    position: relative;
}

/* styling for figcaptions of all .gallery-image */
.gallery-image figcaption {
    position: absolute;
    top: 50%;
    color: var(--main-color);
    background-color: var(--secondary-color);
    border: 4px solid var(--secondary-color);
}

footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--main-color);
    color: var(--secondary-color)
}